@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    background-color:  #c7b198;
}
.main .container {
    height: 560px;
    width: 900px;
    background-color: #f0ece3;
    display: flex;
    flex-direction: column;
    padding: 25px 25px 25px 25px;
    align-self: center;
    position: relative;
}

@media (min-width: 1000px) {
    .main .container {
        box-shadow: 2px 2px 20px;
    }
}

#title {
    color: #2f2519;
}

.main .container #title {
    text-align: center;
    font-size: 2.5rem;
}

.main .container .canvas {
    position: absolute;
    top: 6rem;
}

#tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 2px;
    font-size: 12px;
    background: #e4e3e3;
    box-shadow: 1px 1px 10px;
    border-radius: 2px;
    pointer-events: none;
}

.overlay {
    position: absolute;
    background: #184d47;
    pointer-events: none;
}

#y-axis path {
    stroke: #2f2519;
    stroke-width: 1;
    fill: none;
}

#x-axis path {
    stroke: #2f2519;
    stroke-width: 1;
    fill: none;
}

.info {
    font-size: .75rem;
}

